body {
  background-color: #2e2e2e;
}

.board-wrapper {
  display: grid;
  margin: 25px 30px;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
}

.board-wrapper > div {
  background-color: rgb(154, 160, 154);
}

.board-wrapper > div:hover {
  cursor: pointer;
}